ASPNETCORE_ENVIRONMENT=Development
API_HTTP_PORT=8080
DB_NAME=template_db
DB_USER=template
DB_PASSWORD=template
DB_PORT=5432
PGADMIN_PORT=8081
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin
PROMETHEUS_PORT=9090
PUSHGATEWAY_PORT=9091
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
ALERTMANAGER_PORT=9093
LOKI_PORT=3100
K6_TARGET_URL=http://api:8080/health/ready
K6_VUS=10
K6_DURATION=30s
